.btn__container
  box-sizing: border-box
  background: var(--color-darker-background)
  border: 1px solid #FFFFFF
  color: var(--color-white)
  font-style: normal
  font-weight: 400
  font-size: 0.938rem
  line-height: 18px
  padding: 10px 0
  width: 107px
