.btn__container
    box-sizing: border-box
    background: var(--color-darker-background)
    border: 1px solid var(--color-white)
    color: var(--color-white)
    font-style: normal
    font-weight: 400
    font-size: 0.938rem
    line-height: 18px
    padding: 10px 0
    width: 107px
.btn__active
    background: linear-gradient(0deg, var(--color-darker-background), var(--color-darker-background)), linear-gradient(0deg, var(--color-white), var(--color-white))
    border: 1px solid var(--color-white)
    fill: var(--color-darker-background)
    stroke: var(--color-white)
.btn__disabled
