@import './components/box'
@import './components/button'
@import './components/select'
@import './components/thumbs'
@import './components/viewType'
@import './renderers/previousRulingLayout'
@import './breakpoints'
@import './mixins'

.aquamarine-bg
    background: var(--color-aquamarine)
.light-aquamarine-bg
    background: var(--color-light-aquamarine)
.yellow-bg
    background: var(--color-yellow)
.light-yellow-bg
    background: var(--color-light-yellow)
.transparent-bg
    background: var(--color-transparent-background)
